body {
  font-family: "Inconsolata", monospace;
  margin: 0px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 3vh;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
}

.child {
  flex: 1 1 500px;
  margin: 5px;
}

.content-img {
  text-align: center;
}

.content-img img {
  width: 90%;
}

.detail-title {
  font-size: 5.7vh;
  font-weight: bold;
}

.detail-body {
  width: 50%;
  font-size: 2vh;
  font-weight: normal;
}

.btn {
  margin-top: 40px;
}

.btn-back {
  background-color: #353535;
  color: white;
  padding: 20px;
  font-size: 0.75rem;
}

.footer {
  padding-top: 5vh;
  text-align: center;
}
